<div class="container-lg">
            <div class="juegos__details__content">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="juegos__details__pic set-bg img-fluid" data-setbg="/catalogo/1.jpg">
                            
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="juegos__details__text">
                            <div >
                                <h4>The Legend of Zelda Breath of the Wild</h3>
                                <span>Nintendo Switch</span>
                            </div>
                            <div class="juegos__details__rating">
                                <div class="rating">
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </div>
                                <span class=>Valorar</span>
                            </div>
                            <p>The Legend of Zelda: Breath of the Wild es un videojuego exclusivo de Nintendo, desarrollado,
                                producido y distribuido por la misma compañía, para las videoconsolas Wii U y Nintendo Switch.
                                Se trata de la decimo-octava entrega de la saga Zelda, pero también es el primer juego de la popular
                                 serie para la consola de última generación de Nintendo. El título promete un estilo visual completamente 
                                 nuevo con el que desmarcarse de todo lo visto hasta el momento con colores muy vivos y llamativos y unos gráficos 
                                 sorprendentes.</p>
                            <div class="juegos__details__widget">
                                <div class="row">
                                    <div class="col-lg-10 col-md-7">
                                        <ul>
                                            <li><span>Lanzamiento:</span> 03 marzo 2017</li>
                                            <li><span>Jugadores:</span> Un jugador</li>
                                            <li><span>Género:</span> Aventura, Otros, Acción, Juego de rol</li>
                                            <li><span>Editor:</span> Nintendo</li>
                                            <li><span>Idiomas:</span> Japonés, Inglés, Francés, Alemán, Italiano, Español, Neerlandés, Ruso</li>
                                        </ul>
                                    </div>
                                   
                                </div>
                            </div>
                            <div class="juegos__details__btn">
                                <a href="#" class="card-link"><button type="button" class="btn btn-info"><i class="fas fa-plus"></i>  Agregar a lista</button></a>
                                <a href="#" class="card-link"><button type="button" class="btn btn-danger"><i class="fas fa-plus"></i>  Mirar video</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</div>
<h1 class="center col-sm-8"><span class="black-text">Recomendaciones</h1> </span>
<div class="container">
          <div class="row">
         
            {{#each recomendados}}
            
            <div class="card mb-3" style="width: 17rem; margin-left: 25px">
            <img src="/catalogo/{{img_url}}"class="card-img-top" alt="{{nombre}}">
            <div class="card-body">
            <h5 class="card-title">{{nombre}}</h5>
            <p class="card-text">hola.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
</div>
    
            {{/each}}
          </div>
</div>
    




<!-- WORK IN PROGRESS
                        <div class="col-md-3">
                        <div class="card text-center">
                            <div class="section-title">
                                <h5>you might like...</h5>
                            </div>
                            <div class="product__sidebar__view__item set-bg" data-setbg="img/sidebar/tv-1.jpg">
                                <div class="ep">18 / ?</div>
                                <div class="view"><i class="fa fa-eye"></i> 9141</div>
                                <h5><a href="#">Boruto: Naruto next generations</a></h5>
                            </div>
                            <div class="product__sidebar__view__item set-bg" data-setbg="img/sidebar/tv-2.jpg">
                                <div class="ep">18 / ?</div>
                                <div class="view"><i class="fa fa-eye"></i> 9141</div>
                                <h5><a href="#">The Seven Deadly Sins: Wrath of the Gods</a></h5>
                            </div>
                            <div class="product__sidebar__view__item set-bg" data-setbg="img/sidebar/tv-3.jpg">
                                <div class="ep">18 / ?</div>
                                <div class="view"><i class="fa fa-eye"></i> 9141</div>
                                <h5><a href="#">Sword art online alicization war of underworld</a></h5>
                            </div>
                            <div class="product__sidebar__view__item set-bg" data-setbg="img/sidebar/tv-4.jpg">
                                <div class="ep">18 / ?</div>
                                <div class="view"><i class="fa fa-eye"></i> 9141</div>
                                <h5><a href="#">Fate/stay night: Heaven's Feel I. presage flower</a></h5>
                            </div>
                        </div>
                    </div>

                <div class="row">
                    <div class="col-lg-8 col-md-8">
                        <div class="juegos__details__review">
                            <div class="section-title">
                                <h5>Reviews</h5>
                            </div>
                            <div class="juegos__review__item">
                                <div class="juegos__review__item__pic">
                                    <img src="img/juegos/review-1.jpg" alt="">
                                </div>
                                <div class="juegos__review__item__text">
                                    <h6>Chris Curry - <span>1 Hour ago</span></h6>
                                    <p>whachikan Just noticed that someone categorized this as belonging to the genre
                                    "demons" LOL</p>
                                </div>
                            </div>
                            <div class="juegos__review__item">
                                <div class="juegos__review__item__pic">
                                    <img src="img/juegos/review-2.jpg" alt="">
                                </div>
                                <div class="juegos__review__item__text">
                                    <h6>Lewis Mann - <span>5 Hour ago</span></h6>
                                    <p>Finally it came out ages ago</p>
                                </div>
                            </div>
                            <div class="juegos__review__item">
                                <div class="juegos__review__item__pic">
                                    <img src="img/juegos/review-3.jpg" alt="">
                                </div>
                                <div class="juegos__review__item__text">
                                    <h6>Louis Tyler - <span>20 Hour ago</span></h6>
                                    <p>Where is the episode 15 ? Slow update! Tch</p>
                                </div>
                            </div>
                            <div class="juegos__review__item">
                                <div class="juegos__review__item__pic">
                                    <img src="img/juegos/review-4.jpg" alt="">
                                </div>
                                <div class="juegos__review__item__text">
                                    <h6>Chris Curry - <span>1 Hour ago</span></h6>
                                    <p>whachikan Just noticed that someone categorized this as belonging to the genre
                                    "demons" LOL</p>
                                </div>
                            </div>
                            <div class="juegos__review__item">
                                <div class="juegos__review__item__pic">
                                    <img src="img/juegos/review-5.jpg" alt="">
                                </div>
                                <div class="juegos__review__item__text">
                                    <h6>Lewis Mann - <span>5 Hour ago</span></h6>
                                    <p>Finally it came out ages ago</p>
                                </div>
                            </div>
                            <div class="juegos__review__item">
                                <div class="juegos__review__item__pic">
                                    <img src="img/juegos/review-6.jpg" alt="">
                                </div>
                                <div class="juegos__review__item__text">
                                    <h6>Louis Tyler - <span>20 Hour ago</span></h6>
                                    <p>Where is the episode 15 ? Slow update! Tch</p>
                                </div>
                            </div>
                        </div>
                        <div class="juegos__details__form">
                            <div class="section-title">
                                <h5>Your Comment</h5>
                            </div>
                            <form action="#">
                                <textarea placeholder="Your Comment"></textarea>
                                <button type="submit"><i class="fa fa-location-arrow"></i> Review</button>
                            </form>
                        </div>
                    </div>
                    
                </div>
            </div>
-->
             <script src="/js/jquery-3.3.1.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/player.js"></script>
        <script src="/js/jquery.nice-select.min.js"></script>
        <script src="/js/mixitup.min.js"></script>
        <script src="/js/jquery.slicknav.js"></script>
        <script src="/js/owl.carousel.min.js"></script>
        <script src="/js/main.js"></script>

     