<div class="container">
          <h1 class="center ">Catálogo</h1> 
          <div class="row">
         
            {{#each games}}
              <div class="card m3 s12 text-center" style="width: 18rem; Margin-left: 4rem;">
                <a href="juegos/detalles/{{id_game}}">
                <img
                    class="materialboxed responsive-img card-img-top"
                    src="/catalogo/{{img_url}}"
                    alt="{{nombre}}"
                    style="width: 292px; height: 363px;"
                  />
                </a>
                  <div class="card-body">
                  <p class="card-text">{{nombre}}</p>
                </div>
              </div>
            {{/each}}
          </div>
</div>
