<div class="container">
        <h4 class="center"><span class="black-text Abc">Mi lista de juegos</h4> </span>

        <div class="row">
          <div class="col s12 m3">
            <img
              class="materialboxed responsive-img"
              src="/catalogo/9.jpg"
              alt="halo 5 guardians xbox one"
              style="width: 292px; height: 363px;"
            />
          </div>
          <div class="col s12 m3">
            <img
              class="materialboxed responsive-img"
              src="/catalogo/10.jpg"
              alt="doom xbox one"
              style="width: 292px; height: 363px;"
            />
          </div>
          <div class="col s12 m3">
            <img
              class="materialboxed responsive-img"
              src="/catalogo/11.jpg"
              alt="grand theft auto V 5 five ps4"
              style="width: 292px; height: 363px;"
            />
          </div>
        </div>

        <div class="row">
           <div class="col s12 m3">
            <img
              class="materialboxed responsive-img"
              src="/catalogo/1.jpg"
              alt="the legend of zelda breath of the wild switch"
              style="width: 292px; height: 363px;"
            />
          </div>
          <div class="col s12 m3">
            <img
              class="materialboxed responsive-img"
              src="/catalogo/4.jpg"
              alt="animal crossing new horizons switch"
              style="width: 292px; height: 363px;"
            />
          </div>

          <div class="col s12 m3">
            <img
              class="materialboxed responsive-img"
              src="/catalogo/6.jpg"
              alt="crash bandicoot n. sane trilogy remastared ps4"
              style="width: 292px; height: 363px;"
            />
          </div>
        </div>