<!--Slider-->
<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel" style="z-index: 0;">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="sliders/1.png" class="d-block w-100" alt="game over inicio index">
        <div class="carousel-caption d-none d-md-block">
          
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="/sliders/2.png" class="d-block w-100" alt="controles pro controllers game juegos">
        <div class="carousel-caption d-none d-md-block">
          
        </div>
      </div>
      <div class="carousel-item">
        <img src="/sliders/3.png" class="d-block w-100" alt="god of war ps4 juego game">
        <div class="carousel-caption d-none d-md-block">
        
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"  data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"  data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

<main class="main-content">
  <h1>Lo mas reciente</h1>
  <div class="card">
    <img src="/juegos/1.jpg" class="card-img-top" alt="assesin's creed valhalla">
    <div class="card-body">
      <h5 class="card-title">Assesin's Creed Valhalla</h5>
      <p class="card-text">Assassin's Creed Valhalla es un videojuego desarrollado por Ubisoft Montreal y publicado por Ubisoft. Es el decimosegundo en importancia y el vigesimosegundo lanzado dentro de la saga de Assassin Creed, y sucesor al juego del 2018 Assassin's Creed Odyssey.</p>
    </div>
	
    <ul class="list-group list-group-flush">
      <li class="list-group-item">XBOX</li>
      <li class="list-group-item">PLAYSTATION</li>
      <li class="list-group-item">PC</li>
    </ul>
	
    <div class="card-body">
      <a href="#" class="card-link">Agregar a lista</a>
      <a href="#" class="card-link">Comentar</a>
    </div>
  </div>
  
</main>