<section id="generos" class="section section-popular scrollspy">
      <div class="container">
        <div class="row">
          <h4 class="center"><span class="white-text Abc">Géneros</h4> </span> 
          <div class="col s12 m4">
            <div class="card">
              <div class="card-image">
                <img src="catalogo/estrategia.jpg" alt="" />
                <span class="card-title  blabla">Estrategia</span>
              </div>
             
            </div>
          </div>
          <div class="col s12 m4">
            <div class="card">
              <div class="card-image">
                <img src="catalogo/RPG.jpg" alt="" />
                <span class="card-title  blabla">RPG</span>
              </div>
              
            </div>
          </div>
          <div class="col s12 m4">
            <div class="card">
              <div class="card-image">
                <img src="catalogo/shooter.jpg" alt="" />
                <span class="card-title  blabla">Shooter</span>
              </div>
              
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s12 center">
            <a href="#informacion" class="btn btn-large grey darken-3"
              ><i class="material-icons left">assistant</i> ¿Te interesa saber más?</a>
          </div>
        </div>
      </div>
    </section>

    <section class="section section-follow blue white-text center">
      <div class="container">
        <div class="row">
          <div class="col s12 ">
            <h4 class="Abc">Redes Sociales</h4>
            <p>Síguenos en nuestras redes sociales para novedades, y noticias.</p>
            <a href="https://facebook.com" target="_blank" class="black-text">
              <i class="fab fa-facebook fa-4x"></i>
            </a>
            <a href="https://twitter.com" target="_blank" class="black-text">
              <i class="fab fa-twitter fa-4x"></i>
            </a>
            <a href="https://googleplus.com" target="_blank" class="black-text">
              <i class="fab fa-google-plus fa-4x"></i> </a>
            
          </div>
        </div>
      </div>
    </section>

    
    <section id="catalogo" class="section section-gallery scrollspy">
      <div class="container">
        <h4 class="center"><span class="black-text Abc">Catálogo</h4> </span>
        <div class="row">
          <div class="col s12 m3">
            <img
              class="materialboxed responsive-img"
              src="/catalogo/1.jpg"
              alt=""
            />
          </div>
          <div class="col s12 m3">
            <img
              class="materialboxed responsive-img"
              src="/catalogo/2.jpg"
              alt=""
            />
          </div>
          <div class="col s12 m3">
            <img
              class="materialboxed responsive-img"
              src="/catalogo/3.jpg"
              alt=""
            />
          </div>
          <div class="col s12 m3">
            <img
              class="materialboxed responsive-img"
              src="/catalogo/4.jpg"
              alt=""
            />
          </div>
        </div>
        <div class="row">
          <div class="col s12 m3">
            <img
              class="materialboxed responsive-img"
              src="catalogo/5.jpg"
              alt=""
            />
          </div>
          <div class="col s12 m3">
            <img
              class="materialboxed responsive-img"
              src="/catalogo/6.jpg"
              alt=""
            />
          </div>
          <div class="col s12 m3">
            <img
              class="materialboxed responsive-img"
              src="/catalogo/7.jpg"
              alt=""
            />
          </div>
          <div class="col s12 m3">
            <img
              class="materialboxed responsive-img"
              src="/catalogo/8.jpg"
              alt=""
            />
          </div>
        </div>
        <div class="row">
          <div class="col s12 m3">
            <img
              class="materialboxed responsive-img"
              src="/catalogo/9.jpg"
              alt=""
            />
          </div>
          <div class="col s12 m3">
            <img
              class="materialboxed responsive-img"
              src="/catalogo/10.jpg"
              alt=""
            />
          </div>
          <div class="col s12 m3">
            <img
              class="materialboxed responsive-img"
              src="/catalogo/11.jpg"
              alt=""
            />
          </div>
          <div class="col s12 m3">
            <img
              class="materialboxed responsive-img"
              src="/catalogo/12.jpg"
              alt=""
            />
          </div>
        </div>
      </div>
    </section>