<div class="container-fluid" id="login">
<div class="container p-4">
    <h1 class="text-center">¡Bienvenido!</h1>
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-body">
                    {{!-- <img src="/css/logo_login.png" alt="logo" class="card-img-top mx-auto w-40"> --}}
                    <form action="/login" method="POST">
                        <div class="mb-3 form-group">
                            <label for="exampleFormControlInput1" class="form-label">Username:</label>
                            <input type="text" class="form-control" name="nombre" placeholder="" autofocus>
                        </div>
                        <div class="mb-3 form-group">
                            <label for="exampleFormControlInput1" class="form-label">Contraseña:</label>
                            <input type="password" name="passw" class="form-control" placeholder="" autofocus>
                        </div>
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn botonColor">
                                Entrar
                            </button>  
                        </div> 
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
    