<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card ">
                <div class="card-body">
                    <form action="/user/login" method="POST">
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Nombre/s</label>
                            <input type="text" class="form-control" name="nombre" placeholder="Escribe tu/s nombre/s porfavor" autofocus>
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Apellidos</label>
                            <input type="text" class="form-control" name="apellido" placeholder="Escribe tus apellidos porfavor" autofocus>
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Correo</label>
                            <input type="email" class="form-control" name="email"  placeholder="Tu correo porfavor">   
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Contraseña</label>
                            <input type="password" name="passw" class="form-control" placeholder="Contraseña">
                        </div>
                        <div class="mb-3">
                         <button type="submit" class="btn btn-success btn-block">Guardar</button>   
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
    