  <div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-body">
                    <h3>{{user.nombre}} {{user.apellido}}</h3>
                    <h4>{{user.username}}</h4>
                       <form method="get" action="/mi_lista">
                            <button type="submit" class="btn btn-success btn-block">Mi lista</button>
                        </form>
                </div>
            </div>
        </div>

    </div>
</div>