<div class="container p-4" id="registro">
    <h1 class="text-center">Crear cuenta</h1>
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card ">
                <div class="card-body">
                    <form action="/signup" method="POST">
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Nombre/s:</label>
                            <input type="text" class="form-control" name="nombre" placeholder="" pattern="[A-Za-z ]{1,100}" autofocus required>
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Apellidos:</label>
                            <input type="text" class="form-control" name="apellido" placeholder="" pattern="[A-Za-z ]{1,100}" autofocus required>
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Username:</label>
                            <input type="text" class="form-control" name="username" placeholder="" autofocus required>
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Correo:</label>
                            <input type="email" class="form-control" name="email"  placeholder="nombre@dominio.com" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" autofocus required>   
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Contraseña:</label>
                            <input type="password" name="passw" class="form-control" placeholder="Mínimo 8 carácteres" pattern=".{8,}" title="La contraseña debe ser mínimo de 8 carácteres, intentelo de nuevo." autofocus required>
                        </div>
                        <div class="d-grid gap-2">
                         <button type="submit" class="btn botonColor3">Registrarse</button>   
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
    